[submodule "Laboratorio/laboratorio-1-programacion-funcional-con-java-EbGu3"]
	path = Laboratorio/laboratorio-1-programacion-funcional-con-java-EbGu3
	url = https://github.com/URLSistemas/laboratorio-1-programacion-funcional-con-java-EbGu3.git
